<div>
  <h4>slider</h4>

  <ngx-slider
    [(value)]="minValue"
    [(highValue)]="maxValue"
    [options]="options"
    (click)="onSliderClick()"
  ></ngx-slider>
</div>
<div>
  <h4>RAM</h4>
  <li><input type="checkbox" (click)="checkFilter('2GB')" /> 2GB</li>
  <li><input type="checkbox" (click)="checkFilter('4GB')" />4GB</li>
  <li><input type="checkbox" (click)="checkFilter('8GB')" />8GB</li>
  <li><input type="checkbox" (click)="checkFilter('12GB')" />12GB</li>
  <li><input type="checkbox" (click)="checkFilter('16GB')" />16GB</li>
  <li><input type="checkbox" (click)="checkFilter('24GB')" />24GB</li>
  <li><input type="checkbox" (click)="checkFilter('32GB')" />32GB</li>
  <li><input type="checkbox" (click)="checkFilter('48GB')" />48GB</li>
  <li><input type="checkbox" (click)="checkFilter('64GB')" />64GB</li>
  <li><input type="checkbox" (click)="checkFilter('96GB')" />96GB</li>
</div>
<div>
  <h4>HDD</h4>
  <select (change)="hddFilter($event)">
    <option>Select</option>
    <option value="SAS">SAS</option>
    <option value="SATA">SATA</option>
    <option value="SSD">SSD</option>
  </select>
</div>
<div>
  <h4>Location</h4>
  <select (change)="locFilter($event)">
    <option>Select</option>
    <option value="AmsterdamAMS-01">AmsterdamAMS-01</option>
    <option value="DallasDAL-10">DallasDAL-10</option>
    <option value="San FranciscoSFO-12">San FranciscoSFO-12</option>
    <option value="SingaporeSIN-11">SingaporeSIN-11</option>
    <option value="Washington D.C.WDC-01">Washington D.C.WDC-01</option>
    <option value="Hong KongHKG-10">Hong KongHKG-10</option>
    <option value="FrankfurtFRA-10">FrankfurtFRA-10</option>
  </select>
</div>
