<div>
  <h1>List</h1>
  <app-filter [data]="data" (onFilter)="appliedFilter($event)"></app-filter>
  <h1>Count : {{ filData?.length }}</h1>
  <ul *ngFor="let d of filData">
    <li>Model : {{ d.Model }}</li>
    <li>RAM : {{ d.RAM }}</li>
    <li>HDD : {{ d.HDD }}</li>
    <li>Location : {{ d.Location }}</li>
    <li>Price : {{ d.Price }}</li>
    <hr />
  </ul>
</div>
